fastapi~=0.115.5
uvicorn~=0.32.0
sqlalchemy~=2.0.36
passlib~=1.7.4
python-jose~=3.3.0
python-multipart~=0.0.17
asyncpg~=0.30.0
greenlet~=3.1.1
starlette~=0.41.2
pydantic~=2.9.2
minio~=7.2.10
aio_pika~=9.4.3
requests~=2.32.3